#premium-customer-page {
  width: 100%;
  height: 100%;
  background-color: white;
  #premium-customer-logo-container {
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    #premium-customer-logo {
      width: 327px;
      height: 87px;
    }
  }
  #premium-customer-block {
    background-image: url(https://cdn-media.Ranjani.com/premiumcustomer/background.png);
    background-postion:top;
    background-size:cover;
    width: 100%;
    height: 776px;
    margin-top: 10px;
    position: relative;
    #premium-customer-block-inside {
      width: 65%;
      background-color: white;
      padding: 15px 15px 15px 15px;
      margin: auto;
      position: absolute;
      bottom: 60px;
      left: 17.5%;
      text-align: center;
      border:solid 1px #e6e3e3;
      #premium-customer-logo-white {
        height: 89px;
      }
      #signuptext-line1 {
        margin-top: 40px;
      }
      #signuptext-line2 {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      #termsid {
        font-size: 10px;
        background-color: #f3eded;
        padding: 10px;
        margin: 10px;
        #termstitle{
          text-decoration:underline;
        }
      }
      #showTerms {
        background-color: #ff9c32;
        min-width: 150px;
      }
      #premium-error{
        color:red;
      }
      #premiumcustomer-addVirtualProduct {
        background-color: #ff9c32;
        min-width: 150px;
      }
      #premiumcustomer-cancel {
        background-color: #ff9c32;
        min-width: 150px;
      }
    }
  }
}