<?php
$premiumCustomerHelper = $this->getHelper();
$customerSession = $this->getCustomerSession();
if (!$premiumCustomerHelper->isModuleEnabled()) {
    ?>
    <div>This premium delivery feature is not enabled . Logon to admin panel
        system->configuration->Ranjani_PremiumCustomer_Tab</div>
<?php } else { ?>
    <?php if (!$customerSession->isLoggedIn()) : ?>
    <?php endif; ?>
    <div id="premium-customer-page">
        <div id="premium-customer-logo-container">
            <img id="premium-customer-logo" src="https://cdn-media.Ranjani.com/premiumcustomer/White PLT logo.png">
        </div>
        <div id="premium-customer-block">
            <div id="premium-customer-block-inside">
                <div id="premium-customer-logo-white">
                    <img src="https://cdn-media.Ranjani.com/premiumcustomer/premiumcustomerlogo.png">
                </div>
                <div id="termsandconditions">
                    <?php echo $this->getChildHtml('terms'); ?>
                </div>
                <div id="signUpText">
                    <?php echo $this->getChildHtml('signuptext'); ?>
                </div>
                <button class="btn" id="showTerms" onclick="showterms()">Buy Now</button>
                <?php if ($premiumCustomerHelper->hasProducts()): ?>
                <?php foreach ($premiumCustomerHelper->getDeliveryProducts() as $product): ?>
                <input type="hidden" id="premiumcustomer-product-id" value="<?php echo $product->getId(); ?>">
                <button class="btn" id="premiumcustomer-addVirtualProduct" onclick="addVirtualProduct()">SIGN UP
                </button>
                    <button class="btn" id="premiumcustomer-cancel" onclick="removeVirtualProduct()">NO THANKS</button>
                    <div id="premium-return-error" display="none" style="color: red;"></div>
                    <?php if ($premiumCustomerHelper->productInCart($product->getId())): ?>
                        <div id="premium-error" style="color: red;" >You have already added the delivery service to
                            the cart
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    </div>
    <script>
        var productHiddenField,
            showTermsButton,
            signUpText,
            termsAndConditionsBlock,
            addVirtualProductButton,
            cancelButton;

        Event.observe(window, 'load', function () {
            productHiddenField = document.getElementById("premiumcustomer-product-id");
            showTermsButton = document.getElementById("showTerms");
            signUpText = document.getElementById("signUpText");
            termsAndConditionsBlock = document.getElementById("termsandconditions");
            addVirtualProductButton = document.getElementById("premiumcustomer-addVirtualProduct");
            cancelButton = document.getElementById("premiumcustomer-cancel");
            cancelterms();
            <?php if ($premiumCustomerHelper->productInCart($product->getId())): ?>
            showTermsButton.disabled = true;
            <?php endif; ?>
            premiumCustomerPleaseWait = document.getElementById("premium-customer-please-wait");
            premiumCustomerPleaseWait.hide();
            premiumCustomerError = document.getElementById("premium-error");
        });

        function showterms() {
            termsAndConditionsBlock.show();
            addVirtualProductButton.show();
            cancelButton.show();
            showTermsButton.hide();
            signUpText.hide();
        }

        function cancelterms() {
            termsAndConditionsBlock.hide();
            addVirtualProductButton.hide();
            cancelButton.hide();
            showTermsButton.show();
            signUpText.show();
        }

        function addVirtualProduct() {
            premiumCustomerError = document.getElementById("premium-return-error");
            var product_id = productHiddenField.value;
            var url = '<?php echo $this->getUrl('premiumcustomer/ajax/addVirtualProduct'); ?>';
            var checkoutUrl = '<?php echo $this->getUrl('onestepcheckout'); ?>';
            var parameters = {
                product_id: product_id
            };
            new Ajax.Request(url, {
                method: 'post',
                parameters: parameters,
                onLoading: function () {
                    premiumCustomerPleaseWait.show()
                },
                onSuccess: function (response) {
                    premiumCustomerPleaseWait.hide();
                    var responseText = response.responseText;
                    if (responseText === "added") {
                        window.location.replace(checkoutUrl)
                    } else if (responseText === "notloggedin") {
                        premiumCustomerError.innerHTML = "You need to be logged In to signup, So Please login into " +
                            "your " +
                            "account";
                        premiumCustomerError.show();
                    } else {
                        premiumCustomerError.innerHTML = responseText;
                        premiumCustomerError.show();
                    }
                }
            });
        }
        function removeVirtualProduct() {
            var product_id = productHiddenField.value;
            var url = '<?php echo $this->getUrl('premiumcustomer/ajax/addVirtualProduct'); ?>';
            var sameUrl = '<?php echo $this->getUrl('onestepcheckout/index/index'); ?>';
            var parameters = {
                product_id: product_id,
                remove: 1
            };
            <?php if ($premiumCustomerHelper->productInCart($product->getId())){?>
            new Ajax.Request(url, {
                method: 'post',
                parameters: parameters,
                onSuccess: function (response) {
                    cancelterms();
                }
            });
            <?php } else {?>
            cancelterms();
            <?php }?>
        }
    </script>
<?php endif; ?>
<?php } ?>