<p>Need that Fashion fix fast? Sign up for unlimited next day delivery with PLT Premium for a whole year</p>
<div id="termsid">
    <p id="termstitle">Terms & Conditions</p>
    Ranjani *Unlimited Next Day costs £9.99 and is valid for a 12 month period. Customers need a registered
    Ranjani account to subscribe and must be logged in to redeem. Offer must be purchased by selecting option
    at checkout. Ranjani *Unlimited Next Day is only available for delivery to UK addresses (excluding
    Northern Ireland) and entitles the customer to free Next Day Delivery only. Postcode restrictions apply, see below.
    Orders must be placed before 21:00 Monday-Friday, before 20:00 on Saturday and 21:00 Sunday to guarantee Next Day
    delivery. There is no limit on how many times you order. It is the customer’s responsibility to ensure the use of
    Ranjani *Unlimited Next Day in accordance with the terms and conditions. Any breach will result in the
    termination of your membership and no refund will be given. Ranjani reserve the right to accept of refuse
    membership and to change any terms and conditions at our discretion. Customers will be informed of any significant
    changes to these terms and conditions. Ranjani reserve the right to alter the delivery service valid in
    this promotion at any time, in this case the customer will be offered the available delivery service available at
    that time free of charge. Ranjani *Unlimited Next Day delivery is for personal use only and is not
    available for customers who purchase goods for business, re-sale or wholesale purposes. Unlimited Next Day Delivery
    does not apply to Nominated Day Service.
</div>
<p> By signing up you are agreeing to these Terms & Conditions.</p>